{% extends "base.html" %}
{% block title %}RequestMan{% endblock title %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/http.min.js"></script>
{% endblock head %}
{% block main %}
    <h1>RequestMan</h1>
    <form method="post" action="{{ url_for('requestman') }}">
        <label for="url">URL</label>
        <input type="text" name="url" id="url" value="{{ url if url is not none }}">
        <label for="method">HTTP method</label>
        <select name="method" id="http-method">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
            <option value="HEAD">HEAD</option>
            <option value="OPTIONS">OPTIONS</option>
            <option value="PATCH">PATCH</option>
        </select>
        <button type="submit">Request</button>
    </form>
    

    <pre><code class="language-http">{{- response if response is not none -}}</code></pre>
    <div>{{ exception.args[0] if exception is not none }}</div>

    <script>
        new Promise((resolve, reject) => {
            hljs.highlightAll();
            resolve();
        });
    </script>
{% endblock main %}
